<div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" style="width: 100%;height: 250%">

  <app-appheader></app-appheader>
<section id="about" class="about roomy-100">
  <div class="container">
      <div class="row">
          <div class="main_about">
              <div class="col-md-8">
                  <div class="about_content">
                      <h2 class="text-white">ABOUT US</h2>
                      <div class="separator_left"></div>

                  <h4 class="text-white">

                         Rupal soni
-Diploma in computer engineering
-Operation & technical head

Hemant soni
-MBA-marketing , B.com & diploma in management,
-Having 25 years of experience in sales/marketing/training & operations in the various field of FMCG , paints , telecom & education sector.
-Trained professional in Theatre/Drama from guj uni & Film making from AMA.
-Film making exposure of Babool antakshri-short films making  "The Lost Story" & Bigg boss audition video-advertisment making for chargein pvt ltd,swagat mukhwas,Rooprang sarees,shilpa sarees , vasant & co. - Corporate Documentry making - "chargein kiosk pvt ltd",Asian paints "colour world" , vodafone "strikeforce scheme","score kya hai scheme".
-Exposure of  "shree communication " own Advertising firm since 1992 in serial making and advertisement making has now changed the brand name Hemant soni films.
-Worked with pioneers like asian paints , pidilite , vodafone , videocon , mts , midas care , swastik group ,  eagle flask , tips & toes , ICI paints & tata telecommunication.
                  </h4>


                  </div>
              </div>

          </div>


      </div><!--End off row-->
  </div><!--End off container -->
  <br />
  <br />
  <br />
  <br />
  <hr />
  <br />
  <br />
  <div class="container">
      <div class="row">
          <div class="about_bottom_content">

              <div class="col-md-4">
                  <div class="about_bottom_item m-top-20">
                      <div class="ab_head">
                          <div class="ab_head_icon">
                              <i class="icofont icofont-heart"></i>
                          </div>
                          <h3 class="m-top-20" class="text-white">HOW IT WORKS</h3>
                      </div>
                     <h4  class="text-white">
                       <br>
                        We make great design work happen with our global community of professional designers.
                     </h4>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="about_bottom_item m-top-20">
                      <div class="ab_head">
                          <div class="ab_head_icon">
                              <i class="icofont icofont-fire-burn"></i>
                          </div>
                          <h3 class="m-top-20" class="text-white"> HIRE A DESIGNER</h3>
                      </div>
                      <h4 class="text-white">
                        <br>
                        We’ll help you find a designer you’ll love so you can collaborate together closely on your brief.
                      </h4>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="about_bottom_item m-top-20">
                      <div class="ab_head">
                          <div class="ab_head_icon">
                              <i class="icofont icofont-speech-comments"></i>
                          </div>
                          <h3 class="m-top-20" class="text-white">START A CONTEST</h3>
                      </div>
                    <h4 class="text-white">
                      <br>
                        Open your brief to our entire design community. Designers submit their ideas and you pick your favorite design.
                    </h4>
                  </div>
              </div>

          </div>
      </div><!--End off row-->
  </div><!--End off container -->

  <br>
  <div class=div4>
    <h1 class="m-top-20" class="text-white" align="center">OUR TEAM</h1><hr>


    <br><br><br><br><br>

    <div class=div5 style="width: 278px;height: 278px;margin-left: 30px">

    <h3 class="m-top-20" class="text-white" align="center">
      <br><br><br><br><br><br><br><br>

      <b>DHRUVI DOSHI</b></h3>

    </div>
    <div class=div6 style="width: 278px;height: 278px;margin-top: -50px">

    <h3 class="m-top-20" class="text-white" align="center">
        <br><br><br><br><br><br><br><br>
     <b> PRIYANSHI PATEL</b></h3>


    </div>
    <div class=div7 style="width: 278px;height: 278px;margin-top: -50px">

    <h3 class="m-top-20" class="text-white" align="center">
        <br><br><br><br><br><br><br><br>
      <b>PRACHI SONI</b></h3>


    </div>


    </div>

</section> <!--End off About section -->
</div>
