<!-- <div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" style="width: 100%;height: 200%">


  <app-appheader></app-appheader>

<div class="page-header" align="center" class="text-white">
  <font size=6>
    Tell Us About Your Project</font>

</div>
<hr style="width: 133%;margin-left: -190px">


<br><br>

      <div  class="container" style="margin-right: -94px">
        <div class="text-white">
        <font size=6>Choose Your Preferred Language</font><br>
        <div class="form-group"><select class="form-control"  [(ngModel)]="b_language"  style="width:620px">
          <option *ngFor="let item of language">{{item}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="text-white">
        <font size=6>Enter Subject</font>
        <div class="form-group"><input class="form-control" type="text" [(ngModel)]="b_subject" style="width:620px"></div>
      </div>
      <br>
      <div class="text-white">
        <font size=6>Enter Design Type</font>
        <div class="form-group"><input class="form-control" type="text" [(ngModel)]="b_design" style="width:620px"></div>
      </div>
      <br>



       <div class="text-white">
        <font size=6>Describe Your Project</font>
        <div class="form-group"><input class="form-control" type="text"  [(ngModel)]="b_description" style="width:620px"></div>
      </div>
      <br>

        <div class="text-white">
        <font size=6>What's Your Timeline ?</font>
        <br><br>
        <div class="form-group">


        <mat-radio-group class="example-radio-group" [(ngModel)]="b_timeline">
            <mat-radio-button  class="example-radio-button" *ngFor="let arr of arrtimeline" [value]="arr">
              <font size=5>{{arr}}</font>
            </mat-radio-button>
          </mat-radio-group>
      </div>


      </div>
      <br>

      <div class="text-white">
        <font size=6>Enter Your Budget</font>
        <div class="form-group"><input class="form-control" type="number"  [(ngModel)]="b_budget" style="width:620px"></div>
      </div>
      <br>
      <div class="text-white">
        <font size=6>Add Any Reference Link</font>
        <div class="form-group"><input class="form-control" type="text"  [(ngModel)]="b_link" style="width:620px"></div>
      </div>
      <br>

      <div class="text-white">
        <font size=6>Add Any Reference Image</font>
        <div class="form-group"><input class="form-control" type="file" (change)="onChange($event)" style="width:620px"></div>
      </div>

    </div>

        <br><br>
        <div class="form-group text-center">
            <br>
    <button class="btn btn-primary" (click)="OnAdd()">CHOOSE THE DESIGNER</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="onCancel()" style="width: 229px">CANCEL</button>

        </div>





  </div>

 -->
<app-appheader></app-appheader>
<div class=row>

    <div class=col-md-11>

      <br>

      <div class="container">
        <h1>Tell Us About Your Project</h1>
        <p>Please fill in this form.</p>
        <hr>

        <label for="lang"><b>Choose Your Preferred Language</b></label>
        <select type="text" class="form-control" [(ngModel)]="b_language" id="b_language">
          <option *ngFor="let item of language" [value]="item">
          {{item}}
          </option>
        </select>



        <label for="sub"><b>Subject</b></label>

        <input   type="text"  [(ngModel)]="b_subject"  name="b_subject" required><br>
        <label for="desi"><b>Design</b></label>

        <input   type="text"  [(ngModel)]="b_design"  name="b_design" required><br>

        <label for="desc"><b>Description</b></label>

        <input   type="text"  [(ngModel)]="b_description"  name="b_description" required><br>

        <label for="timeline"><b>What's Your Timeline?</b></label><br><br>
        <mat-radio-group class="example-radio-group" [(ngModel)]="b_timeline">
          <mat-radio-button class="example-radio-button" *ngFor="let arr of arrtimeline" [value]="arr">
            {{arr}}
          </mat-radio-button>
        </mat-radio-group>
        <br>

       <br>
        <label for="budg"><b>What's Your Estimated Budget?</b></label>

        <input   type="number"  [(ngModel)]="b_budget"  name="b_budget" required><br>

        <label for="link"><b>Any reference link ?</b></label>

        <input   type="text"  [(ngModel)]="b_link"  name="b_link" required><br>

        <label for="img"><b>Any reference Image ?</b></label>
        <input  type="file" (change)="onChange($event)">


        <!-- <label for="sub"><b>What's You Want To Make?</b></label>

        <input   type="number"   [(ngModel)]="fksubcat_id"  name="sub" required><br> -->





        <br>

        <div class="clearfix">

          <button type="submit" class="signupbtn" (click)="OnAdd()">CHOOSE THE DESIGNER</button>
        </div>
      </div>




      </div>
      </div>

