

 <div class="container">
  <h1>
      <img src="http://localhost:3000/images/boy.jpg" alt="..."  style="     height: 99px; width: 115px;;border-radius: 100%">
    CHANGE PASSWORD</h1>
  <p>Please fill in this form to change password</p>
  <hr>

  <label for="email"><b>Email</b></label>
  <input type="text" [(ngModel)]="email_id" name="email" required readonly>



  <label for="npsw"><b>Change Password</b></label>
  <input type="text" [(ngModel)]="password"  name="npsw" required>


  <div class="clearfix">

    <button type="submit" class="signupbtn"  (click)="onsave()">SAVE PASSWORD</button>
  </div>
</div>
