<div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" style="width: 100%;height: 100%">

  <app-appheader></app-appheader>

  <div class="container">

      <br>

        <div class="container" class="div1">


          <div class="row">
            <div class="col-md-10">
                <div class="row">

                    <div  class="col-sm-6">
                      <div class="thumbnail">
                          <div class="caption">


                              <h3>HIRE A DESIGNER</h3>
                              <div class="separator_auto"></div>
                        <img src="http://localhost:3000/images/hire.png" alt="..." height="250px" width="400px">



                        <h4>
                            <br><br><br>
                        Find a designer you love and collaborate on your project.<br>
                          </h4>



                          <div class="form-group text-center">
                              <br>
                              <a  class="btn btn-primary" (click)="onclick()">HIRE DESIGNER</a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a  class="btn btn-primary" (click)="onfind1()" >FIND MORE</a>
                          </div>


                        </div>
                       </div>

                       </div>
                       <div  class="col-sm-6">
                          <div class="thumbnail">
                              <div class="caption">


                                  <h3>START A CONTEST</h3>
                                  <div class="separator_auto"></div>
                            <img src="http://localhost:3000/images/contest.png" alt="..." height="250px" width="400px">



                            <h4>
                                <br>
                                Designers from around review your design brief and submit unique ideas. You provide feedback, hone your favorites and choose a winner.<br>
                              </h4>



                              <div class="form-group text-center">
                                <br>
                                <a  class="btn btn-primary" (click)="onclickcontest()">START CONTEST</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a  class="btn btn-primary" (click)="onfind()" >FIND MORE</a>
                            </div>

                            </div>
                           </div>

                           </div>





                    </div>



                   </div>


    </div>

  </div>

