
<app-appheader></app-appheader>

<!--Maps Section-->
<div  style="height: 280px;margin-top: -20px">
 <img src="http://localhost:3000/images/map.png" style="height: 280px;width: 100%">
</div><!-- End off Maps Section-->


            <!--Contact Us Section-->
            <section id="contact" class="contact bg-mega fix">
              <div class="container">
                  <div class="row">
                      <div class="main_contact roomy-100 text-white">
                          <div class="col-md-5">
                              <div class="rage_widget">
                                  <div class="widget_head">
                                      <h3 class="text-white">HEMANT SONI FILMS</h3>
                                      <div class="separator_small"></div>
                                  </div>
                                  <font size=5>Let's talk<br>
                                    Hemant Soni Films<br>

                                    5,Varsha SBI Society
                                    Near Hetvi Hospital , Ghatlodia,
                                    Ahmedabad -380061.Gujarat,India.
                                    <br><br>
                                    For Further Enquires Contact us via<br>
                                    abhusony@gmail.com  or<br>
                                    Tel:(+91)9712000103
                                  </font>

                                  <!-- <div class="widget_socail m-top-30">
                                      <ul class="list-inline">
                                          <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                          <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href=""><i class="fa fa-vimeo"></i></a></li>
                                          <li><a href=""><i class="fa fa-instagram"></i></a></li>
                                      </ul>
                                  </div> -->
                              </div>
                          </div>
                          <div class="col-md-7 sm-m-top-30">
                              <form class="" action="subcribe.php">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <input id="first_name" name="first_name" type="text" placeholder="Name" class="form-control" required="">
                                          </div>
                                      </div>

                                      <div class="col-sm-6">
                                          <div class="form-group">
                                              <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                          </div>
                                      </div>

                                      <div class="col-sm-12">
                                          <div class="form-group">
                                              <textarea class="form-control" rows="6" placeholder="Your Queries"></textarea>
                                          </div>
                                          <div class="form-group text-center">
                                              <a href="" class="btn btn-primary">SEND MESSAGE</a>
                                          </div>
                                      </div>

                                  </div>

                              </form>
                          </div>
                      </div>
                  </div><!--End off row -->
              </div><!--End off container -->
          </section><!--End off Contact Section-->


