<!-- <div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'"> -->
  <app-appheader></app-appheader>

    <h2   align="center">

     <b> DESIGNER DETAILS </b></h2>





<!-- <div *ngFor="let item of arr"> -->
    <div class="thumbnail">

      <div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'">

        <div class="caption">
            <h1 align="left">
                <img src="http://localhost:3000/images/{{d_photo}}" alt="..." width="300px" height="400px">
              <br> <br> <h2 class="text-white"><b>Description:</b></h2>
                <h3 class="text-white">{{d_description}}</h3>
                 <h2 class="text-white"><b>Past Works</b></h2>
                 <hr>

                 <br>
                <h2 class="text-white"><b>Advertising Related Works :</b></h2>
                <img src="http://localhost:3000/images/{{image1}}" alt="..." width="300px" height="300px">&nbsp;
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="http://localhost:3000/images/{{image2}}" alt="..." width="300px" height="300px">&nbsp;
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

                <br><br>
                <h2 class="text-white"><b>Branding Related Works :</b></h2>
                <img src="http://localhost:3000/images/{{image3}}" alt="..." width="300px" height="300px">
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

                <img src="http://localhost:3000/images/{{image4}}" alt="..." width="300px" height="300px">
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

                <br><br>
                <h2 class="text-white"><b>Training Related Works :</b></h2>

                <img src="http://localhost:3000/images/{{image5}}" alt="..." width="300px" height="300px">
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="http://localhost:3000/images/{{image6}}" alt="..." width="300px" height="300px">
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;


              </h1>










        </div>
      </div>
  <!-- </div> -->

      <!-- <div>
          <h1>OTHER DESIGNERS</h1>


            <div class="row">

              <div *ngFor="let item of desigarr " class="col-sm-8 col-md-2">
                <div class="thumbnail">
                    <div class="caption">
                    <h2>{{item.name}}</h2>

                  <img src="http://localhost:3000/images/designer.jpg" alt="..." height="200px" width="200px" >


                  <div class="example-button-row">


                      <button mat-raised-button  (click)="onaddDesigner(item)"><h2>DETAILS</h2></button>

                      <button mat-raised-button color="warn"  (click)="ondetail()"><h2>DONE</h2></button>


                </div>




                 </div>


              </div>
             </div>

          </div>
        </div>
      </div>

  <div class="row">
    <nav class="navbar navbar-inverse">
    </nav>
  </div> -->
<!-- </div> -->


