<div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" style="height: 100%">
  <app-appheader></app-appheader>
  <diV align="center">
  <h2  class="text-white">

    Your Contest work!</h2>
  </diV>
  <hr>
    <div class="row">

        <div *ngFor="let item of darr" class="col-sm-5 col-md-3" (click)="Onselected(item)">
          <div class="thumbnail" style="height: 394px; width: 300px">
            <h3 align="center">{{item.name}}</h3>
            <img src="http://localhost:3000/images/{{item.dc_image}}" alt="..." style="height: 341px;width: 300px" >
           </div>

       </div>
       </div>
       </div>

