<div  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" style="width: 100%;height: 100%">

  <app-appheader></app-appheader>
<div>
  <div class="text-white" align="center">
  <font size=6>Please Select The Category You Choose For Your Contest.</font>
</div>

<button type="button" class="btn btn-outline-secondary" style="    height: 117px;
width: 20%;;margin-top: 270px;
    margin-left: 170px;" (click)="onclickadv()">

                      <font size=4> ADVERTISING </font>
                     </button>

                     <button type="button" class="btn btn-outline-secondary" style="    height: 117px;
                     width: 20%;;margin-left: 170px;margin-top: 270px"
                      (click)="onclickbrand()" >

                        <font size=4> BRANDING & DESIGNING</font>
                       </button>

                       <button type="button" class="btn btn-outline-secondary" style="    height: 117px;
                       width: 20%;;margin-left: 170px;margin-top: 270px"
                        (click)="onclicktrain()">

                          <font size=4> TRAINING </font>
                         </button>

                    </div>
</div>
