<div class=row>
    <mat-toolbar style="background-color:#383535;margin-left: 214px" class="text-white">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
            <img src="http://localhost:3000/images/hsf.jpg" alt="..." height="20px" width="120px" style=" height: 64px;
            margin-left: -16px"></span>
          HEMANT SONI FILMS - ADVERTISING + BRANDING + TRAINING
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="http://localhost:3000/images/baby.jpeg" alt="..." height="20px" width="90px" style=" height: 64px;border-radius: 100%">
           Hey Admin!
      </mat-toolbar>
    <div class=col-md-1>
      <app-menu></app-menu>
    </div>

  <div class=col-md-11>

    <br>
      <div class="head_title text-center" >
          <h2>HIRE A DESIGNER</h2>
          <div class="separator_auto"></div>
        </div>

        <div class="container">

          <br>

            <div class="container" class="div1">


              <div class="row">
                <div class="col-md-10">
                    <div class="row">

                        <div  class="col-sm-6" style="    margin-left: 254px;">
                          <div class="thumbnail">
                              <div class="caption">


                                  <h3>HIRE A DESIGNER</h3>
                                  <div class="separator_auto"></div>
                            <img src="http://localhost:3000/images/hire.png" alt="..." height="250px" width="400px">


<!--
                            <h4>
                                <br><br><br>
                            Find a designer you love and collaborate on your project.<br>
                              </h4> -->



                              <div class="form-group text-center">
                                  <br>
                                  <br>
                                  <a  class="btn btn-primary" (click)="onclick()">HIRE DESIGNER</a>

                              </div>


                            </div>
                           </div>

                           </div>






                        </div>



                       </div>


        </div>

      </div>
      </div>


        </div>
        </div>

