
<app-appheader></app-appheader>
<br><br><br><br><br>

<table align="center" border=2 height="50%"  [style.background]="'url(http://localhost:3000/images/g9.jpg)'" >
<br><br><br>
<h1 class="text-white">Thank You for Placing Order</h1><br>

<div align="center">
<img src="http://localhost:3000/images/order.png" style="height:85px;width:92px ">
</div>
<button mat-raised-button (click)="onaddreview()" class="text-white" style="background-color: #1e8222;;width: 229px;
height: 43px;    margin-top: 67px;
margin-left: 366px;">
  WANT TO GIVE FEEDBACK ?</button>
</table>


