
<div class=row>
    <mat-toolbar style="background-color:#383535;margin-left: 215px" class="text-white">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>
            <img src="http://localhost:3000/images/hsf.jpg" alt="..." height="20px" width="120px" style=" height: 64px;
            margin-left: -16px">
          HEMANT SONI FILMS - ADVERTISING + BRANDING + TRAINING
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

         <img src="http://localhost:3000/images/baby.jpeg" alt="..." height="20px" width="90px" style=" height: 64px;border-radius: 100%">
          Hey Designer!
        </span>
      </mat-toolbar>

<div class=col-md-1>
  <app-designermenu></app-designermenu>
</div>

    <div class=col-md-11>

      <br>
        <div class="head_title text-center" >
            <h2>BEST OF 2019</h2>

            <div class="separator_auto"></div>
          </div>


  <br><br><br>
    <div class="row">

      <div *ngFor="let item of arr" class="col-sm-4 col-md-4">

        <div class="thumbnail" style="height: 350px; width: 300px;margin-left: 130px;margin-top: 22px;">


          <img src="http://localhost:3000/images/{{item.image1}}" alt="..." style="height: 341px;width: 300px;
        " >
          <img src="http://localhost:3000/images/{{item.image2}}" alt="..." style="height: 341px;width: 300px;
          margin-left: 358px;
          margin-top: -343px; " >
          <img src="http://localhost:3000/images/{{item.image3}}" alt="..." style="height: 341px;width: 300px;
          margin-left: 679px;
    margin-top: -341px;" >
          <img src="http://localhost:3000/images/{{item.image4}}" alt="..." style="height: 341px;width: 300px;
          margin-top: 32px" >
          <img src="http://localhost:3000/images/{{item.image5}}" alt="..." style="height: 341px;width: 300px;
           margin-left: 360px;
          margin-top: -339px;" >
          <img src="http://localhost:3000/images/{{item.image6}}" alt="..." style="height: 341px;width: 300px;
          margin-left: 682px;
          margin-top: -341px;" >



         </div>



     </div>
     </div>
    </div>
</div>
