<div class=row>
  <div class=col-md-1>
    <app-menu></app-menu>
  </div>
  <div class=col-md-11>




<br><br><br><br><br><br><br>
<table align="center" border=2 height="50%">
<br><br><br>
<h1><th style="font: bold">Thank You for Placing Order</th></h1><br>

<div>
  <img src="http://localhost:3000/images/order.png" style="height:85px;width:92px;margin-left: 254px; ">
</div>
<button mat-raised-button (click)="onaddreview()" class="text-white" style="background-color: #1e8222;;width: 229px;
height: 43px;    margin-top: 83px;
margin-left: 394px;">
  WANT TO GIVE FEEDBACK ?</button>
</table>
    </div>
    </div>


