

<div class=row>
  <div class=col-md-1>
    <app-menu></app-menu>
  </div>
  <div class=col-md-11>

    <br>

    <div class="container">
      <h1>Tell Us About Your Project</h1>
      <p>Please fill in this form.</p>
      <hr>


<div  class="container">


  <label for="parti"><b>Number of participants</b></label>

  <input   type="number" name="parti"  [(ngModel)]="t_participants" required><br>



  <label for="type"><b>What type of training ?</b></label>

  <input   type="text" name="type"  [(ngModel)]="t_type" required><br>


  <label for="budget"><b>Enter your budget</b></label>

  <input   type="number" name="budget"  [(ngModel)]="t_budget" required><br>



  <label for="tdate"><b>At which date you want training ?</b></label>

  <input   type="date" name="tdate"  [(ngModel)]="t_date" required><br>

  <label for="title"><b>Title</b></label>

  <input   type="text" name="title"  [(ngModel)]="t_title" required><br>

  <label for="company"><b>Enter your company name</b></label>

  <input   type="text" name="company"  [(ngModel)]="t_company" required><br>

  <label for="help"><b>What help do u want from us ?</b></label>

  <input   type="text" name="help"  [(ngModel)]="t_help" required><br>


  <label for="sub"><b>Which training you want ?</b></label>
  <!-- <select type="text" class="form-control" [(ngModel)]="selected_subcat" name="selected_subcat">
    <option *ngFor="let item of sub_catnamearr" [value]="item">
      {{item.subcat_name}}
    </option>
  </select> -->
  <input   type="number" name="sub"  [(ngModel)]="fksubcat_id" required><br>

  <div class="clearfix">

    <button type="submit" class="signupbtn" (click)="chooseDesigner()">CHOOSE THE DESIGNER</button>
  </div>




</div>


  </div>
</div>
