

<div>



    <app-appheader></app-appheader>

      <div class="container">
        <h1>Want to give reviews to your designer?</h1>
        <p>Please fill in this form.</p>
        <hr>




        <label for="desc"><b>Add Description</b></label>

        <input   type="text" [(ngModel)]="description"  name="desc" placeholder="Give review" ><br>

        <br>


        <label for="star"><b>Give Ratings</b></label>

        <input   type="number" placeholder="Out of 5"  [(ngModel)]="stars"  name="star"><br>



        <div class="clearfix">

          <button type="submit" class="signupbtn" (click)="onaddreview()">ADD REVIEW</button>
        </div>
      </div>


    </div>






